Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vsdoc
*.dbmdl
*.dbmdl.schemaview
*.dbmdl.user
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.gpState
*.Full.*
StyleCop.Cache
Documents
TDAmeritrade/VSdoc
TDAmeritrade.Tests
*.testsettings
*.vsmdi
*.vs10x
TDAmeritrade/TDAmeritrade.xml
ReadMe.txt